// Fonts
$font-primary: 'Poppins', sans-serif;
$font-heading: 'Outfit', sans-serif;

// Colors
$color-white: #ffffff;
$color-dark: #111111;
$color-primary: #EE212B;
$color-black: #000;
$color-dark: #0F0E0E;

// Line heights
$line-height-body: 150%;
$line-height-heading: 120%;

// Letter spacing    
$letter-spacing-body: 0.08px;
$letter-spacing-h1: -0.8px;
$letter-spacing-h2: -0.56px;

// Container padding
$container-padding-mobile: 32px 16px;
$container-padding-sm: 40px 24px;
$container-padding-md: 64px 80px;
$container-padding-lg: 80px 160px;
$container-padding-xl: 96px 200px;
$container-padding-2xl: 104px 220px;
$container-padding-3xl: 108px 230px;
$container-padding-4xl: 110px 235px;
$container-padding-xxl: 112px 240px;