@use '../abstracts/variables' as vars;
@use '../layout/breakpoints' as bp;

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: vars.$container-padding-mobile;

  @media (min-width: bp.$breakpoint-sm) {
    padding: vars.$container-padding-sm;
  }

  @media (min-width: bp.$breakpoint-md) {
    padding: vars.$container-padding-md;
  }

  @media (min-width: bp.$breakpoint-lg) {
    padding: vars.$container-padding-lg;
  }

  @media (min-width: bp.$breakpoint-xl) {
    padding: vars.$container-padding-xl;
  }

  @media (min-width: bp.$breakpoint-2xl) {
    padding: vars.$container-padding-2xl;
  }

  @media (min-width: bp.$breakpoint-3xl) {
    padding: vars.$container-padding-3xl;
  }

  @media (min-width: bp.$breakpoint-4xl) {
    padding: vars.$container-padding-4xl;
  }

  @media (min-width: bp.$breakpoint-xxl) {
    padding: vars.$container-padding-xxl;
    max-width: bp.$breakpoint-xxl;
  }
}