@use '../abstracts/variables' as *;  
@use '../layout/breakpoints' as *;

.container {
  width: 100%;
  max-width: $xxl;  
  margin: 0 auto;
  padding: $container-padding-mobile; // Mobile first

  // Small screens
  @media (min-width: $sm) {
    padding: $container-padding-sm;
  }

  // Medium screens
  @media (min-width: $md) {
    padding: $container-padding-md;
  }

  // Large screens
  @media (min-width: $lg) {
    padding: $container-padding-lg;
  }

  // Extra Large screens
  @media (min-width: $xl) {
    padding: $container-padding-xl;
  }

  // 2XL screens
  @media (min-width: $x2l) {
    padding: $container-padding-2xl; 
  }

  // 3XL screens
  @media (min-width: $x3l) {
    padding: $container-padding-3xl;
  }

  // 4XL screens
  @media (min-width: $x4l) {
    padding: $container-padding-4xl;
  }

  // Max container width 1920px
  @media (min-width: $xxl) {
    padding: $container-padding-xxl;
  }
}
