@use '../abstracts/variables' as *;
@use '../layout/breakpoints' as bp;

.header {
    $self : &;

    &__top {
        background: $color-primary;
    }

    &__container {
        padding: 0 !important;
    }

    &__info-text {
        color: $color-white;
        margin-bottom: 0;
    }
}