@use '../abstracts/spacing' as sp;
@use '../layout/breakpoints' as bp;

// ------------------------
// Spacing and Breakpoints
// ------------------------
$spaces: sp.$spaces;  
$breakpoints: bp.$breakpoints;  

// ------------------------
// Default Margin & Padding
// ------------------------
@each $i, $val in $spaces {

  // Margin
  .m-#{$i} {
    margin: $val;
  }

  .mt-#{$i} {
    margin-top: $val;
  }

  .mb-#{$i} {
    margin-bottom: $val;
  }

  .ml-#{$i} {
    margin-left: $val;
  }

  .mr-#{$i} {
    margin-right: $val;
  }

  // Padding
  .p-#{$i} {
    padding: $val;
  }

  .pt-#{$i} {
    padding-top: $val;
  }

  .pb-#{$i} {
    padding-bottom: $val;
  }

  .pl-#{$i} {
    padding-left: $val;
  }

  .pr-#{$i} {
    padding-right: $val;
  }

  // X & Y shortcuts
  .px-#{$i} {
    padding-left: $val;
    padding-right: $val;
  }

  .py-#{$i} {
    padding-top: $val;
    padding-bottom: $val;
  }
}

// ------------------------
// Responsive Margin & Padding
// ------------------------
@each $bp-name, $bp-value in $breakpoints {
  @each $i, $val in $spaces {
    @media (min-width: $bp-value) {

      // Margin
      .m-#{$bp-name}-#{$i} {
        margin: $val;
      }

      .mt-#{$bp-name}-#{$i} {
        margin-top: $val;
      }

      .mb-#{$bp-name}-#{$i} {
        margin-bottom: $val;
      }

      .ml-#{$bp-name}-#{$i} {
        margin-left: $val;
      }

      .mr-#{$bp-name}-#{$i} {
        margin-right: $val;
      }

      // Padding
      .p-#{$bp-name}-#{$i} {
        padding: $val;
      }

      .pt-#{$bp-name}-#{$i} {
        padding-top: $val;
      }

      .pb-#{$bp-name}-#{$i} {
        padding-bottom: $val;
      }

      .pl-#{$bp-name}-#{$i} {
        padding-left: $val;
      }

      .pr-#{$bp-name}-#{$i} {
        padding-right: $val;
      }

      // X & Y shortcuts
      .px-#{$bp-name}-#{$i} {
        padding-left: $val;
        padding-right: $val;
      }

      .py-#{$bp-name}-#{$i} {
        padding-top: $val;
        padding-bottom: $val;
      }
    }
  }
}

// ------------------------
// Default Gaps
// ------------------------
@for $i from 1 through 20 {
  .gap-#{$i} {
    gap: ($i * 4px);
  }

  .gap-x-#{$i} {
    column-gap: ($i * 4px);
  }

  .gap-y-#{$i} {
    row-gap: ($i * 4px);
  }
}

// ------------------------
// Responsive Gaps
// ------------------------
@each $bp-name, $bp-value in $breakpoints {
  @for $i from 1 through 20 {
    @media (min-width: $bp-value) {
      .gap-#{$bp-name}-#{$i} {
        gap: ($i * 4px);
      }

      .gap-x-#{$bp-name}-#{$i} {
        column-gap: ($i * 4px);
      }

      .gap-y-#{$bp-name}-#{$i} {
        row-gap: ($i * 4px);
      }
    }
  }
}